<mat-toolbar *ngIf="currentRole" color="primary">
  <span (click)="navigateToHome()">MHP Booking</span>
  <span class="example-spacer"></span>
  <button mat-icon-button (click)="navigateToHome()">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button (click)="navigateToUserProfile()">
    <mat-icon>person</mat-icon>
  </button>
  <button mat-icon-button *ngIf="currentRole" (click)="logOut()">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
