<div class="modal">
  <h2>
    Book <b>{{ data.bookable_id }}</b> on <b> {{ data.date }} </b>
  </h2>
  <hr />
  <mat-card *ngIf="availabilityMorning"
    >Probability to be occupied in the first half of the day:
    {{ availabilityMorning }}%</mat-card
  >
  <mat-card *ngIf="availabilityEvening"
    >Probability to be occupied in the second half of the day:
    {{ availabilityEvening }}%
  </mat-card>
  <div class="middle-div">
    <mat-card class="alte-rezervari" *ngIf="bookings && bookings.length > 0">
      <mat-card-header>Other bookings</mat-card-header>
      <div class="list">
        <!--        <mat-card-content *ngIf="bookings && bookings.length === 0">-->
        <!--          <mat-card class="no-users-card">No bookings found</mat-card>-->
        <!--        </mat-card-content>-->
        <ng-container>
          <table mat-table [dataSource]="bookings" class="mat-elevation-z8">
            <ng-container matColumnDef="start">
              <th mat-header-cell *matHeaderCellDef>Start</th>
              <td mat-cell *matCellDef="let booking">{{ booking.start }}</td>
            </ng-container>
            <ng-container matColumnDef="end">
              <th mat-header-cell *matHeaderCellDef>End</th>
              <td mat-cell *matCellDef="let booking">{{ booking.end }}</td>
            </ng-container>
            <tr mat-row *matRowDef="let row; columns: ['start', 'end']"></tr>
          </table>
        </ng-container>
      </div>
    </mat-card>
    <div class="time-selection">
      <p>Select starting time:</p>
      <input
        type="time"
        id="start"
        #startTimeInput
        min="09:00"
        max="18:00"
        required
        [(ngModel)]="startTime"
      />
      <p>Select ending time:</p>
      <input
        type="time"
        id="end"
        #endTimeInput
        min="09:00"
        max="18:00"
        required
        [(ngModel)]="endTime"
      />
    </div>
  </div>
  <br />

  <mat-card *ngIf="capacity > 1" class="participanti-meeting">
    <mat-card-header> Add people to the meeting </mat-card-header>
    <div class="list">
      <mat-card-content *ngIf="users && users.length === 0">
        <mat-card class="no-users-card">No users found</mat-card>
      </mat-card-content>
      <mat-card-content *ngFor="let person of users">
        <mat-checkbox
          [checked]="selectedPeople.includes(person.email)"
          (change)="toggleSelection(person.email)"
        >
          {{ person.email }}
        </mat-checkbox>
      </mat-card-content>
    </div>
  </mat-card>
  <br />
  <mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button color="primary" (click)="onConfirm()">Confirm</button>
  </mat-dialog-actions>
</div>
