<!--<h2 mat-dialog-title>Dialog with elements</h2>-->
<!--<mat-dialog-content>This dialog showcases the title, close, content and actions elements.</mat-dialog-content>-->
<!--<mat-dialog-actions>-->
<!--  <button mat-button mat-dialog-close>Close</button>-->
<!--</mat-dialog-actions>-->

<div class="modal">
  <h2>Create a booking for <b>{{data.bookable_id}}</b> </h2>
  <hr>
  <div class="middle-div">
    <mat-card class="alte-rezervari">
      <mat-card-header>Other bookings</mat-card-header>
<!--      <br>-->
<!--      <br>-->
      <mat-card-content *ngIf="bookings && bookings.length === 0">
        <mat-card class="no-users-card">No bookings found</mat-card>
      </mat-card-content>
      <mat-card-content *ngFor="let booking of bookings">
        <ng-container *ngIf="booking.bookable_id === data.bookable_id">
          <mat-checkbox [checked]="selectedPeople.includes(booking.bookable_id)" (change)="toggleSelection(booking.bookable_id)">
            Date: {{ booking.date }} Start: {{ booking.start }} End: {{ booking.end }}
          </mat-checkbox>
        </ng-container>
      </mat-card-content>

    </mat-card>
    <div class="time-selection">
      <p>Select starting time:</p>
      <input type="time" id="start" min="09:00" max="18:00" required />
<!--      <br>-->
<!--      <br>-->
      <p>Select ending time:</p>
      <input type="time" id="end" min="09:00" max="18:00" required />
    </div>
  </div>
  <br>
<!--  <div *ngFor="let person of people">-->
<!--    <mat-checkbox [checked]="selectedPeople.includes(person)" (change)="toggleSelection(person)">-->
<!--      {{ person }}-->
<!--    </mat-checkbox>-->
<!--  </div>-->
  <mat-card class="participanti-meeting">
    <mat-card-header>
      Add people to the meeting
    </mat-card-header>
<!--    <br>-->
<!--    <br>-->
    <mat-card-content *ngIf="users && users.length === 0">
      <mat-card class="no-users-card">No users found</mat-card>
    </mat-card-content>
    <mat-card-content *ngFor="let person of users">
      <mat-checkbox [checked]="selectedPeople.includes(person.username)" (change)="toggleSelection(person.username)">
        {{ person }}
      </mat-checkbox>
    </mat-card-content>
  </mat-card>
<br>
  <mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button color="primary" (click)="onConfirm()">Confirm</button>
  </mat-dialog-actions>

</div>

