/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

//.fully-booked-date {
//  background: red !important;
//  border-radius: 100%;
//}
//
//.partially-booked-date {
//  background: orange !important;
//  border-radius: 100%;
//}

.mat-calendar-body-cell.weekend-date {
  opacity: 0.5; /* Reduce opacity to visually indicate disabled dates */
  pointer-events: none; /* Disable pointer events */
}
