<div class="welcome">
  <div class="welcome-text">
    <h1>
      Welcome to MHP Booking!
    </h1>
    <h3>
      Where every click is a step closer
      to your dream desk destination.
    </h3>
    <h3>Get ready to groove your way to productivity!</h3>
  </div>
<img class="imgText" src="../../assets/HomeImg.jpg">
</div>

<div class="datePicker">
  <mat-form-field class="example-full-width">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate" />
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
  </mat-form-field>
  <button mat-button (click)="onDateSelected($event)">
    <mat-icon>touch_app</mat-icon> Check desk availability
  </button>
</div>
<section class="harta">
  <img class="locuri_background" src="assets/HartaLocuriBackground.jpg" />

  <button
    *ngFor="let buttonId of buttonIds"
    [id]="buttonId"
    [class.loc-liber]="occupationDict[buttonId] === 0"
    [class.loc-semi-ocupat]="occupationDict[buttonId] === 1"
    [class.loc-ocupat]="occupationDict[buttonId] === 2"
    mat-mini-fab
    (click)="openDialog(buttonId)"
  >
    <mat-icon *ngIf="occupationDict[buttonId] === 0">add</mat-icon>
    <mat-icon *ngIf="occupationDict[buttonId] === 1">remove</mat-icon>
    <mat-icon *ngIf="occupationDict[buttonId] === 2">clear</mat-icon>
  </button>
</section>
