<section>
  <mat-form-field class="example-full-width">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker [dateClass]="dateClass" #picker></mat-datepicker>
  </mat-form-field>
</section>
<section class="harta">
  <img class="locuri_background" src="assets/HartaLocuriBackground.jpg">

  <button *ngFor="let buttonId of buttonIds" [id]="buttonId" class="loc" mat-mini-fab (click)="openDialog(buttonId)">
    <mat-icon>add</mat-icon>
  </button>

    <div class="Pit-Lane">
      <button class="loc" mat-mini-fab (click)="openDialog('Pit-Lane')">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <div class="Dry-Lane">
      <button class="loc" mat-mini-fab (click)="openDialog('Dry-Lane')">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <div class="JockerLap">
      <button class="loc" mat-mini-fab (click)="openDialog('JockerLap')">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <div class="Quick8">
      <button class="loc" mat-mini-fab (click)="openDialog('Quick8')">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <div class="PolePosition" >
      <button class="loc" mat-mini-fab (click)="openDialog('PolePosition')">
        <mat-icon>add</mat-icon>
      </button>
    </div>

    <div class="Cockpit">
      <button class="loc" mat-mini-fab (click)="openDialog('Cockpit')">
        <mat-icon>add</mat-icon>
      </button>
    </div>

</section>
